@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: #F7F9FC;
    color: #222831;
    line-height: normal;
}

h1 {
    color: #5F939A;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    line-height: normal;
}

h2 {
    color: #F58840;
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    line-height: normal;
}

a {
    color: #1597E5;
    text-decoration: none;
}

a:hover {
    color: #3D56B2;
}

.container {
    margin: 50px auto;
    width: 900px;
}

.card {
    width: 600px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 10px 30px #F4F4F4;
    padding: 40px;
    margin: 50px auto;
    text-align: center;
}

ul {
    list-style-type: none;
    display: block;
}

.list-inline {
    padding: 0px;
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline-block;
    margin: 10px;
}

.img-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center 5%;
}

span {
  opacity: 0;
  transition: all 2s ease;
}

span.fade {
  opacity: 1;
}


@media (max-width: 960px) {
    .container {
        width: 700px;
    }
}

@media (max-width: 720px) {
    .container {
        width: 500px;
    }
}

@media (max-width: 540px) {
    .container {
        width: 300px;
    }
}
